* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image:url('assets/fon54.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 24px;
}
.wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
nav {
    display: block;
}
.navigation{
    margin-top: 20px;
    list-style: none;
}
.navigation-item{
    float: left;
    
}
.navigation-link {
    padding: 20px 10px;
    color: darkgrey;
    text-decoration: none;
    display: block;
    background-color: black;
}
.navigation-link:hover {
    background-color: blue;
}

.navigation-item + .navigation-item {
    border-left: 2px solid white;
}

h1 {
    color: rgb(71, 71, 249);
    text-align: center;
    text-shadow: 2px 1px rgb(69, 77, 149);
}
.logo-photo {
    border: 5px solid #B1AAFF;
    float: left;
    border-radius: 20px;
}
.starts {
    display: flex;
    justify-content: flex-start;
}
.contacts {
    padding-left: 40px;
}
section {
    margin-top: 40px;
}

.school-link{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}